extends ../../layouts/default.pug
include ../../mixins/table-tree.pug


block main

    h1 Danh mục sản phẩm

    .card.mb-3
        .card-header Danh sách
            .card-body 
                .row
                    .col-4
                        a(
                            href="product-category/create"
                            class="btn btn-success"
                        ) + Thêm mới

            table.table.table-hover.table-sm
                thead
                    tr
                        th STT
                        th Hình ảnh
                        th Tiêu đề
                        th Trạng thái
                        th Hành động

                tbody
                    +table-tree(records)
                    

    //- div #{records}  
               
                    
