.slider 
    .inner-menu
        ul
            li
                a(href="dashboard") Tổng quan
            li
                a(href="product-category") Danh mục sản phẩm
            li
                a(href="product") Danh sách sản phẩm

